body 
{
	background-color: #330066;
	width: 980px;
	margin: auto;
}

header
{
	background-image: url('pictures/logo1.png');
	background-repeat: no-repeat;
	width: 980px;
	height: 130px;
}

nav, maincontent
{
	position: absolute;
	top: 80px;
	width: 980px;
	padding-left: 5px;
}

maincontent
{
	top: 135px;
}

navitem
{
	float:left;
	margin-right: 20px;
	height: 26px;
	width: 102px;
}

navitem: last-child
{
	float:left;
	height: 26px;
	width: 102px;
}

nav > navitem > a,
span#accent, span#focus, span#daily,
span#goodprac, span#innovation, span#curious, span#interview
{
	font:16px Times New Roman bold;
	color: #ffcc66;
	width: 104px;
	text-decoration: none;
	text-align:right;
	text-transform:uppercase;
	letter-spacing:1px;
	padding-left: 5px;
	position: absolute;
	top: 5px;
}

span#accent, span#focus, span#daily,
span#goodprac, span#innovation, span#curious, span#interview
{
	color: #ffffff;
	text-align:left;
	padding-left: 15px;
	top: 8px;
	width: 200px;
}

span#daily
{
	top: 634px;
}

span#goodprac, span#innovation, span#curious, span#interview
{
	top: 780px;
}

#nav_back
{
	border-left: 5px solid #ffcc66;
	border-bottom: 5px solid #ffcc66;
	height: 26px;
	width: 100px;
	transform:skewX(20deg);
	-webkit-transform:skewX(20deg);
}

maincontent > leftcolumn
{
	float: left;
	width: 220px;
	margin-right: 20px;
	height: 610px;
}

maincontent > centercolumn
{
	float: left;
	width: 476px;
	height: 610px;
	margin-right: 20px;
	display: block;
}

maincontent > rightcolumn
{
	float: left;
	width: 220px;
	height: 610px;
}

maincontent > ribbon

{
	float:left;
	width: 966px;
	height: 100px;
	overflow: hidden;
	margin-left: -3px;
}

#accent_back, #focus_back, #daily_back, #box
{
	border-left: 5px solid #999999;
	border-top: 5px solid #999999;
	height: 26px;
	width: 220px;
	transform:skewX(-20deg);
	-webkit-transform:skewX(-20deg);
}

#focus_back
{
	width: 476px;
}

#daily_back
{
	width: 966px;
	height: 30px;
}

#box
{
	width: 220px;
}

maincontent > leftcolumn > left_articles,
maincontent > rightcolumn > right_articles,
maincontent > centercolumn > main_articles
{
	display: block;
	width: 232px;
	height: 550px;
	background-color: #999999;
	margin-left: -5px;
	padding-top: 10px;
	margin-top: -3px;
}

maincontent > centercolumn > main_articles
{
	width: 486px;
}

maincontent > latest_news,
maincontent > help,
maincontent > joke
{
	overflow: hidden;
	float: left;
	width: 966px;
	height: 18px;
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left: -3px;
	background-image: url('pictures/latest.png');
	background-repeat: no-repeat;
	opacity: 0.8;
}

maincontent > help,
maincontent > joke
{
	margin-top: 15px;
}

maincontent > latest_news > h1,
maincontent > help > h1,
maincontent > joke > h1
{
	font:14px Times New Roman bold;
	color: #330066;
	text-align:left;
	margin-top: -1px;
	margin-left: 15px;
	float: left;
}

latest_news > a.prev,
latest_news > a.next
{
	float: left;
	background-image: url('pictures/back1.png');
	height: 15px;
	width: 22px;
	margin: 2px;
}

latest_news > a.next
{
	background-image: url('pictures/next1.png');
}

maincontent > latest_news > headlines
{
	overflow: hidden;
	width: 700px;
	height: 16px;
	float: left;
}

maincontent > latest_news > headlines > up_dawn_pic > headline[viewpage=no]
{
display: none;
}

maincontent > latest_news > headlines > up_dawn_pic > headline[viewpage=yes]
{
	width: 700px;
	height: 16px;
	margin-left: 20px;
}

maincontent > latest_news > headlines >  up_dawn_pic > headline > a,
maincontent > help > aid,
maincontent > joke > vic
{
	font:14px Times New Roman;
	color: #330066;
	text-decoration: none;
	padding-left: 50px;
}

maincontent > help > aid,
maincontent > joke > vic
{
	padding-left: 205px;
}

maincontent > latest_news > headlines > up_dawn_pic > headline > span
{
	margin-left: 20px;
	font:10px Times New Roman italic;
	color: #330066
}

article
{
	width: 210px;
	height: 170px;
	background-image:url('pictures/left_right.png');
	margin-left: 11px;
	margin-bottom: 11px;
}

article > a > img
{
	margin: 9px 9px 0px 9px;
	width: 192px;
	height: 108px;
}

article > article_title > p
{
	font:14px Times New Roman bold;
	color: #000000;
	text-align:left;
	width: 192px;
	margin-left: 10px;
}

article > article_title > p > a
{
	text-decoration: none;
}

maincontent > centercolumn > main_articles > focus_pic > a > img
{
	display:none;
	width: 448px;
	height: 252px;
	margin-left: 19px;
}

maincontent > centercolumn > main_articles > four_pic
{
	width: 448px;
	height: 68px;
	margin-left: 19px;
	display: inline-block;
	background-image:url('pictures/four_pic.png');
}

maincontent > centercolumn > main_articles > four_pic > a > img
{
	width: 96px;
	height: 54px;
	margin-top: 7px;
	margin-left: 10px;
}

maincontent > centercolumn > main_articles > focus_descr
{
	width: 448px;
	height: 86px;
	margin: 11px 19px;
	background-image:url('pictures/title_search.png');
	display: block;
	margin-top: 15px;
}

maincontent > centercolumn > main_articles > focus_descr > focus_title,
maincontent > centercolumn > main_articles > focus_descr > p
{
	font:18px Times New Roman bold;
	color: #330066;
	text-align:left;
	display:none;
	margin-left: 5px;
}

maincontent > centercolumn > main_articles > focus_descr > focus_title > a
{
	text-decoration: none;
}

maincontent > centercolumn > main_articles > focus_descr > p
{
	font:14px Times New Roman;
	color: #000000;
}

maincontent > centercolumn > main_articles > search > form
{
	display: inline-block;
	width: 448px;
	height: 86px;
	margin: 11px 19px;
	background-image:url('pictures/title_search.png');
}

maincontent > centercolumn > main_articles > search > form > input
{
	background-color: #330066;
}

.gap,
.button
{
	width: 318px;
	height: 46px;
	margin-top: 20px;
	margin-left: 15px;
}

.button
{
	width: 80px;
	font:14px Times New Roman bold;
	color: #ffcc66;
	text-transform: uppercase;
}


focus_pic > a > img[sel=sel],
focus_descr > focus_title[sel=sel],
focus_descr > p[sel=sel]
{
	display: block;
}

maincontent > ribbon > movable_news
{
	display: block;
	width: 966px;
	height: 76px;
	margin-left: -3px;
	margin-top: -9px;
	background-color: #999999;
	background-image:url('pictures/ribbon.png');
	background-position: center center;
	background-repeat: no-repeat;
}

movable_news > a.prev
{
	float: left;
	background-image: url('pictures/back.png');
	width: 30px;
	height: 20px;
	margin-left: 20px;
	margin-top: 25px;
}
movable_news > a.next
{
	float: left;
	background-image: url('pictures/next.png');
	width: 30px;
	height: 20px;
	margin-right: 20px;
	margin-top: 25px;
}

maincontent > ribbon > movable_news > movable_pic
{
	float: left;
	width: 750px;
	height: 54px;
	margin: 9px 40px 9px 50px;
	overflow: hidden;
	padding-left: 10px;
}

maincontent > ribbon > movable_news > movable_pic > movable_pic_content
{
	float: left;
}

maincontent > ribbon > movable_news > movable_pic > movable_pic_content > a[onpage=no]
{
	display:none;
}

maincontent > ribbon > movable_news > movable_pic > movable_pic_content > a > img
{
		width: 96px;
		height: 54px;
		margin: 3px 5px;
		display: inline-block;
}

span.img_title 
{
	display: none;
}

movable_news > movable_pic > movable_pic_content > a
{
	position: relative;
	float: left;
	margin-bottom: 5px;
}

movable_news > movable_pic > movable_pic_content > a:hover > span.img_title 
{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 96px;
	height: 40px;
	font:12px Times New Roman;
	color: #FFFFFF;
	text-align:left;
	background-color: #4C3380;
	opacity: 0.7;
	text-decoration: none;
	margin: 3px 5px;
}

box1,
box2,
box3,
box4
{
	width: 232px;
	float: left;
}

box2,
box3,
box4
{
	margin-left: 13px;
}

box1 > first_box,
box2 > second_box,
box3 > third_box,
box4 > fourth_box
{
	width: 232px;
	height: 184px;
	float: left;
	background-color: #999999;
	padding-top: 15px;
	margin-left: -5px;
}
